<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Alfa de trabajo</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile [style.background]="'lightblue'">Proyecto</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Estado</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Horizonte minimo</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Horizonte maximo</mat-grid-tile>
    <ng-container *ngFor="let t of trabajos">
      <mat-grid-tile>{{obtenerNombreProyecto(t.idProyecto)}}</mat-grid-tile>
      <mat-grid-tile>{{t.estado ? t.estado : 'NULL'}}</mat-grid-tile>
      <mat-grid-tile>{{t.horizonteMinimo ? t.horizonteMinimo : 'NULL'}}</mat-grid-tile>
      <mat-grid-tile>{{t.horizonteMaximo ? t.horizonteMaximo : 'NULL'}}</mat-grid-tile>
    </ng-container>
    <ng-container *ngIf="trabajos.length === 0">
      <mat-grid-tile [colspan]="4" [style.background]="'#eeeeee'">No hay datos</mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</mat-card>
