<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Crear proyecto</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!guardarActivo" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/crear-proyecto.png" alt="" width="2853" height="702" usemap="#Map" id="crear-proyecto">
<div id="id-rol" class="item" (click)="abrirRol()">ID = {{rol?.id}}</div>
<div id="nombre-rol" class="item" (click)="abrirRol()">NOMBRE = {{rol?.nombre}}</div>
<div id="id-miembro" class="item" (click)="abrirMiembro()">ID = {{miembro?.id}}</div>
<div id="nombre-miembro" class="item" (click)="abrirMiembro()">NOMBRE = {{miembro?.nombre}}</div>
<div id="id-proyecto" class="item"></div>
<div id="nombre-proyecto" class="item"></div>


<pre>{{proyectos | json}}</pre>
