#crear-proyecto {
  margin-top: 50px;
}

#id-rol {
  left: 335px;
  top: 515px;
}

#nombre-rol {
  left: 335px;
  top: 615px;
}

#id-miembro {
  left: 749px;
  top: 358px;
}

#nombre-miembro {
  left: 749px;
  top: 464px;
}

#id-proyecto {
  left: 2667px;
  top: 406px;
}

#nombre-proyecto {
  left: 2667px;
  top: 537px;
}

.item {
  background: none;
}

.action {
  background-color: rgba(#5cb85c, 0.7);
  border-color: #4cae4c;
  border-radius: 50px;
  color: transparent !important;
  cursor: pointer;
  font-size: 20px;
  height: 56px;
  left: 1553px;
  letter-spacing: 1px;
  position: absolute;
  top: 476px;
  width: 147px;
  z-index: 400;
}
