#crear-proyecto {
  margin-top: 50px;
}

#id-rol {
  left: 335px;
  top: 515px;
}

#nombre-rol {
  left: 335px;
  top: 615px;
}

#id-miembro {
  left: 749px;
  top: 358px;
}

#nombre-miembro {
  left: 749px;
  top: 464px;
}

#id-proyecto {
  left: 2667px;
  top: 406px;
}

#nombre-proyecto {
  left: 2667px;
  top: 537px;
}

.item {
  background: none;
}

.color-blue {
  color: #0606d8;
  font-weight: bold;
}
