<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Crear proyecto</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!guardarActivo" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/crear-proyecto.png" alt="" width="2853" height="702" usemap="#Map" id="crear-proyecto">

<pre>{{proyectos | json}}</pre>
