<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Crear proyecto</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!datosRequeridosCompletos()" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Crear
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/crear-proyecto.png" alt="" width="2853" height="702" usemap="#Map" id="crear-proyecto">
<div id="id-rol" class="item" (click)="abrirRol()">
  <p>ID = <span class="color-blue">{{rol?.id}}</span></p>
</div>
<div id="nombre-rol" class="item" (click)="abrirRol()">
  <p>NOMBRE = <span class="color-blue">{{rol?.nombre}}</span></p>
</div>
<div id="id-miembro" class="item" (click)="abrirMiembro()">
  <p>ID = <span class="color-blue">{{miembro?.id}}</span></p>
</div>
<div id="nombre-miembro" class="item" (click)="abrirMiembro()">
  <p>NOMBRE = <span class="color-blue">{{miembro?.nombre}}</span></p>
</div>
<div id="id-proyecto" class="item">
  <p>ID = <span class="color-blue">{{idProyecto}}</span></p>
</div>
<div id="nombre-proyecto" class="item" (click)="abrirNombre()">
  <p>NOMBRE = <span class="color-blue">{{nombreProyecto}}</span></p>
</div>
