<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Desarrollar historia de usuario</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!datosRequeridosCompletos()" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/desarrollar-historia.png" alt="" width="3447" height="973" usemap="#Map" id="imagen">
<div id="id-rol" class="item cursor-deshabilitado">
  <p>ID = <span class="color-blue">{{rol?.id}}</span></p>
</div>
<div id="nombre-rol" class="item cursor-deshabilitado">
  <p>NOMBRE = <span class="color-blue">{{rol?.nombre}}</span></p>
</div>
<div id="id-miembro" class="item cursor-deshabilitado">
  <p>ID = <span class="color-blue">{{miembro?.id}}</span></p>
</div>
<div id="nombre-miembro" class="item cursor-deshabilitado">
  <p>NOMBRE = <span class="color-blue">{{miembro?.nombre}}</span></p>
</div>
<div id="id-proyecto" class="item" (click)="abrirProyecto()">
  <p>ID = <span class="color-blue">{{proyecto?.id}}</span></p>
</div>
<div id="nombre-proyecto" class="item" (click)="abrirProyecto()">
  <p>NOMBRE = <span class="color-blue">{{proyecto?.nombre}}</span></p>
</div>
<div id="id-historia" class="item" (click)="abrirHistoriaUsuario()">
  <p>ID = <span class="color-blue">{{historiaUsuario?.id}}</span></p>
</div>
<div id="descripcion-historia" class="item" (click)="abrirHistoriaUsuario()">
  <p>DESCRIPCION = <span class="color-blue">{{historiaUsuario?.descripcion}}</span></p>
</div>
<div id="estado-historia" class="item" (click)="abrirHistoriaUsuario()">
  <p>ESTADO = <span class="color-blue">{{historiaUsuario?.estado}}</span></p>
</div>
<div id="responsable-historia" class="item" (click)="abrirHistoriaUsuario()">
  <p>RESPONSABLE = <span class="color-blue">{{historiaUsuario?.responsable?.id}}</span></p>
</div>
<div id="tamano-historia" class="item" (click)="abrirHistoriaUsuario()">
  <p>TAMAÑO = <span class="color-blue">{{historiaUsuario?.tamano}}</span></p>
</div>
<div id="tamano-de-historias" class="item" (click)="abrirTamano()">
  <p>TAMAÑO = <span class="color-blue">{{tamano}}</span></p>
</div>
<div id="id-sprint" class="item" (click)="abrirSprint()">
  <p>ID = <span class="color-blue">{{sprint?.id}}</span></p>
</div>
<div id="fecha-inicio-sprint" class="item" (click)="abrirSprint()">
  <p>FECHA INICIO = <span class="color-blue">{{sprint?.fechaInicio | date: 'dd/MM/yyyy'}}</span></p>
</div>
<div id="fecha-final-sprint" class="item" (click)="abrirSprint()">
  <p>FECHA FIN = <span class="color-blue">{{sprint?.fechaFin | date: 'dd/MM/yyyy'}}</span></p>
</div>
<div id="velocidad-estimada-sprint" class="item" (click)="abrirSprint()">
  <p>VELOCIDAD ESTIMADA = <span class="color-blue">{{sprint ? sprint.velocidadEstimada !== null  ? sprint?.velocidadEstimada: 'NULL' : ''}}</span>
  </p>
</div>
<div id="velocidad-real-sprint" class="item" (click)="abrirSprint()">
  <p>VELOCIDAD REAL = <span class="color-blue">{{sprint  ? sprint.velocidadReal !== null  ? sprint?.velocidadReal : 'NULL' : ''}}</span>
  </p>
</div>

<button mat-raised-button class="action" [disabled]="!datosRequeridosCompletos()" (click)="guardar()">DESARROLLA</button>
