#id-rol {
  left: 308px;
  top: 251px;
}

#nombre-rol {
  left: 308px;
  top: 344px;
}

#id-miembro {
  left: 720px;
  top: 105px;
}

#nombre-miembro {
  left: 720px;
  top: 203px;
}

#id-proyecto {
  left: 3237px;
  top: 391px;
}

#nombre-proyecto {
  left: 3237px;
  top: 515px;
}

#id-historia {
  left: 326px;
  top: 733px;
}

#descripcion-historia {
  left: 533px;
  top: 733px;
}

#estado-historia {
  left: 739px;
  top: 733px;
}

#responsable-historia {
  left: 923px;
  top: 733px;
}

#tamano-historia {
  left: 1114px;
  top: 735px;
}

#tamano-de-historias {
  left: 1450px;
  top: 728px;
}

#id-sprint {
  left: 1664px;
  top: 761px;
}

#fecha-inicio-sprint {
  left: 1890px;
  top: 761px;
}

#fecha-final-sprint {
  left: 2063px;
  top: 761px;
}

#velocidad-estimada-sprint {
  left: 2288px;
  top: 761px;
}

#velocidad-real-sprint {
  left: 2513px;
  top: 761px;
}

#imagen {
  margin-top: 63px;
}
