#id-rol {
  left: 321px;
  top: 490px;
}

#nombre-rol {
  left: 321px;
  top: 583px;
}

#id-miembro {
  left: 799px;
  top: 344px;
}

#nombre-miembro {
  left: 799px;
  top: 443px;
}

#id-sprint {
  left: 1465px;
  top: 726px;
}

#fecha-inicio-sprint {
  left: 1670px;
  top: 726px;
}

#fecha-final-sprint {
  left: 1860px;
  top: 726px;
}

#velocidad-estimada-sprint {
  left: 2076px;
  top: 726px;
}

#velocidad-real-sprint {
  left: 2291px;
  top: 726px;
}

#id-proyecto {
  left: 2947px;
  top: 377px;
}

#nombre-proyecto {
  left: 2947px;
  top: 501px;
}

#imagen {
  margin-top: 63px;
}
