<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Crear sprint</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!guardarActivo" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/crear-sprint.png" alt="" width="3150" height="773" usemap="#Map" id="esquema">
<div id="id-rol" class="item"></div>
<div id="nombre-rol" class="item"></div>
<div id="id-miembro" class="item"></div>
<div id="nombre-miembro" class="item"></div>
<div id="id-proyecto" class="item"></div>
<div id="nombre-proyecto" class="item"></div>
<div id="id-sprint" class="item"></div>
<div id="fecha-inicio-sprint" class="item"></div>
<div id="fecha-final-sprint" class="item"></div>
<div id="velocidad-estimada-sprint" class="item"></div>
<div id="velocidad-real-sprint" class="item"></div>
