<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Crear historia de usuario</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" [disabled]="!guardarActivo" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/crear-historia-usuario.png" alt="" width="2878" height="1162" usemap="#Map" id="imagen">
<div id="id-rol" class="item"></div>
<div id="nombre-rol" class="item"></div>
<div id="id-miembro" class="item"></div>
<div id="nombre-miembro" class="item"></div>
<div id="id-proyecto" class="item"></div>
<div id="nombre-proyecto" class="item"></div>
<div id="id-historia" class="item"></div>
<div id="descripcion-historia" class="item"></div>
<div id="estado-historia" class="item"></div>
<div id="responsable-historia" class="item"></div>
<div id="tamano-historia" class="item"></div>


<pre>{{proyectos$ | async}}</pre>
