#id-rol {
  left: 289px;
  top: 517px;
}

#nombre-rol {
  left: 289px;
  top: 611px;
}

#id-miembro {
  left: 701px;
  top: 371px;
}

#nombre-miembro {
  left: 701px;
  top: 470px;
}

#id-proyecto {
  left: 2677px;
  top: 551px;
}

#nombre-proyecto {
  left: 2677px;
  top: 675px;
}

#id-historia {
  left: 1044px;
  top: 954px;
}

#descripcion-historia {
  left: 1251px;
  top: 956px;
}

#estado-historia {
  left: 1457px;
  top: 955px;
}

#responsable-historia {
  left: 1641px;
  top: 955px;
}

#tamano-historia {
  left: 1824px;
  top: 956px;
}

#imagen {
  margin-top: 63px;
}

.item {
  background: none;
}

.action {
  background-color: rgba(#5cb85c, 0.7);
  border-color: #4cae4c;
  border-radius: 50px;
  color: transparent !important;
  cursor: pointer;
  font-size: 20px;
  height: 52px;
  left: 1457px;
  letter-spacing: 1px;
  position: absolute;
  top: 479px;
  width: 146px;
  z-index: 400;
}
