#id-rol {
  left: 308px;
  top: 245px;
}

#nombre-rol {
  left: 308px;
  top: 339px;
}

#id-miembro {
  left: 720px;
  top: 99px;
}

#nombre-miembro {
  left: 720px;
  top: 198px;
}

#id-proyecto {
  left: 2922px;
  top: 420px;
}

#nombre-proyecto {
  left: 2922px;
  top: 543px;
}

#id-historia {
  left: 1395px;
  top: 887px;
}

#descripcion-historia {
  left: 1601px;
  top: 887px;
}

#estado-historia {
  left: 1808px;
  top: 888px;
}

#responsable-historia {
  left: 1991px;
  top: 887px;
}

#tamano-historia {
  left: 2175px;
  top: 888px;
}

#imagen {
  margin-top: 63px;
}

.item {
  background: none;
}

.action {
  background-color: rgba(#5cb85c, 0.7);
  border-color: #4cae4c;
  border-radius: 50px;
  color: transparent !important;
  cursor: pointer;
  font-size: 20px;
  height: 52px;
  left: 1227px;
  letter-spacing: 1px;
  position: absolute;
  top: 502px;
  width: 146px;
  z-index: 400;
}
