<mat-toolbar>
  <mat-toolbar-row>
    <span>Esquema preconceptual</span>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/esquema-preconceptual.png" alt="" width="2990" height="1338" usemap="#Map" id="esquema">
<map name="Map">
  <area shape="rect" coords="1413,328,1477,353" routerLink="/crear-proyecto">
  <area shape="rect" coords="1413,430,1477,473" routerLink="/proyectos">
  <area shape="rect" coords="1739,575,1804,599" routerLink="/crear-sprint">
  <area shape="rect" coords="1595,570,1665,605" routerLink="/miembros">
  <area shape="rect" coords="2051,449,2114,473" routerLink="/desarrollar-historia-usuario">
  <area shape="rect" coords="2070,575,2140,599" routerLink="/sprints">
  <area shape="rect" coords="2100,309,2162,333" routerLink="/asignar-historia-usuario">
  <area shape="rect" coords="2713,575,2778,599" routerLink="/historias-usuario">
  <area shape="rect" coords="1943,233,2005,260" routerLink="/crear-historia-usuario">
  <area shape="rect" coords="1415,185,1479,218" routerLink="/roles">
</map>
