<mat-toolbar>
  <mat-toolbar-row>
    <span>Esquema preconceptual</span>
  </mat-toolbar-row>
</mat-toolbar>
<img src="assets/esquema-preconceptual.png" alt="" width="2990" height="1338" usemap="#Map" id="esquema">
<map name="Map">
  <area shape="rect" coords="1413,328,1477,353" routerLink="/crear-proyecto">
  <area shape="rect" coords="1739,575,1804,599" routerLink="/crear-sprint">
  <area shape="rect" coords="2051,449,2114,473" routerLink="/desarrollar-historia-usuario">
  <area shape="rect" coords="2100,309,2162,333" routerLink="/asignar-historia-usuario">
  <area shape="rect" coords="1943,233,2005,260" routerLink="/crear-historia-usuario">
</map>
