<div class="sprints-container">
  <h2 class="title">Sprints del Proyecto  (Nombre del Proyecto)</h2>

  <section class="labels">
    <div class="column">
      #
    </div>
    <div class="column dates">
      Proyecto
    </div>
    <div class="column dates">
      FECHA INICIO
    </div>
    <div class="column dates">
      FECHA FIN
    </div>
    <div class="column vels">
      VEL. ESTIMADA
    </div>
    <div class="column vels">
      VEL. REAL
    </div>
    <div class="column">
      CREADOR
    </div>
  </section>
  <section class="grid-info" *ngFor="let sprint of sprints; let i = index">
    <div class="ids">
      {{sprint.id}}
    </div>
    <div class="dates">
      {{sprint.idProyecto}}
    </div>
    <div class="dates">
      {{sprint.fechaInicio | date: 'dd/MM/yyyy'}}
    </div>
    <div class="dates">
      {{sprint.fechaFin | date: 'dd/MM/yyyy'}}
    </div>
    <div class="vels">
      {{sprint.velocidadEstimada}}
    </div>
    <div class="vels">
     {{sprint.velocidadReal}}
    </div>
    <div class="creators">
      {{creators[i]}}
    </div>
  </section>
</div>

