<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="navegarEsquema()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Historias de usuario</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-grid-list cols="5" rowHeight="50px">
    <mat-grid-tile [style.background]="'lightblue'">Id</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Descripción</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Estado</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Responsable</mat-grid-tile>
    <mat-grid-tile [style.background]="'lightblue'">Tamaño</mat-grid-tile>
    <ng-container *ngFor="let x of histories; let i = index">
      <mat-grid-tile>{{x.id}}</mat-grid-tile>
      <mat-grid-tile>{{x.descripcion}}</mat-grid-tile>
      <mat-grid-tile>{{x.estado}}</mat-grid-tile>
      <mat-grid-tile>{{x.responsable ? x.responsable.nombre : ''}}</mat-grid-tile>
      <mat-grid-tile>{{x.tamano}}</mat-grid-tile>
    </ng-container>
    <ng-container *ngIf="histories.length === 0">
      <mat-grid-tile [colspan]="5" [style.background]="'#eeeeee'">No hay datos</mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</mat-card>
